<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %p %c{2} :: %m%n">
        <replace regex=":basic-auth \\[.*\\]" replacement=":basic-auth [redacted]"/>
      </PatternLayout>
    </Console>
    <Http name="HTTP" url="http://127.0.0.1:5444/json/">
      <Property name="X-Java-Runtime" value="$${java:runtime}" />
      <JsonLayout properties="true"/>
    </Http>
    <!-- <Syslog name="bsd" host="localhost" port="5443" protocol="TCP"/> -->
    <Syslog name="bsd" format="bsd" host="localhost" port="5443"
    protocol="TCP" appName="App" includeMDC="true" mdcId="mdc"
    facility="LOCAL0" enterpriseNumber="18060" newLine="true"
    messageId="LogTest" id="App"/>

    <!-- This file appender is provided as an example -->
    <!--
    <RollingFile name="FILE" fileName="${logfile.path}/metabase.log" filePattern="${logfile.path}/metabase.log.%i">
      <Policies>
        <SizeBasedTriggeringPolicy size="500 MB"/>
      </Policies>
      <DefaultRolloverStrategy max="2"/>
      <PatternLayout pattern="%d [%t] %-5p%c - %m%n">
        <replace regex=":basic-auth \\[.*\\]" replacement=":basic-auth [redacted]"/>
      </PatternLayout>
    </RollingFile>
    -->
  </Appenders>

  <Loggers>
    <Logger name="metabase" level="TRACE"/>
    <Logger name="metabase-enterprise" level="INFO"/>
    <Logger name="metabase.plugins" level="DEBUG"/>
    <Logger name="metabase.middleware" level="DEBUG"/>
    <Logger name="metabase.query-processor.async" level="DEBUG"/>
    <Logger name="com.mchange" level="ERROR"/>

    <Root level="ALL">
      <AppenderRef ref="STDOUT"/>
      <AppenderRef ref="bsd"/>
      <!-- <AppenderRef ref="HTTP"/> -->
    </Root>
  </Loggers>
</Configuration>